.a1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: linear-gradient(206.57deg, #679CF6 16.67%, #4072EE 100%);
}


html {
    background-color: #679CF6;
}
.a3 {
    position: absolute;
left: 50.9%;
right: 6.67%;
top: 9.38%;
bottom: 9.38%;


}